@import 'cssreset-3.7.2.less';
@import 'cssfonts-3.7.2.less';
@import 'cssgrids-3.7.2.less';
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('/static/fonts/lato.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('/static/fonts/source_sans_pro_bold.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/source_sans_pro.woff') format('woff');
}
html {
    overflow-y:scroll;
    background: url('static/img/bg.png');
}

div.page {
    &.sync {
        background: right top url('/static/img/sync-bg.png') no-repeat;
    }
    min-height: 400px;
    padding: 0 0 10px 0;
}

body {
    margin: 50px auto;
    width: 960px;
    background: #FFF;
    border: 1px solid #000;
    font: 100% 'Source Sans Pro';
}
body, body div {
    .space() {
        margin-left: 20px;
        margin-right: 20px;
    }
    > p, > form {
        margin-bottom:1em;
        .space
    }
    > h1 {
        font: 200% 'Source Sans Pro';
        .space
    }
    > h2 {
        font: 140% 'Source Sans Pro Bold';
        .space
    }
    > h3 {
        font: 110% 'Source Sans Pro Bold';
        .space
    }
    > ul {
        list-style: disc;
    }
    > ol {
        list-style: decimal;
    }
    > ul, > ol {
        margin-bottom:1em;
        > li {
            margin-left:2em;
        }
        .space
    }
    > nav {
        margin-top: 10px;
        margin-bottom: 10px;
        border-top:1px solid #000;
        border-bottom:1px solid #000;
        display:table;
        table-layout:fixed;
        width:100%;
        &:first-child {
            margin-top:0;
            border-top:0;
        }
        &:last-child {
            margin-bottom:0;
            border-bottom:0;
        }
        > a {
            &:nth-child(n+2) {
                border-left:1px solid #000;
            }
            &.active {
                background:#222;
                color: #FFF;
            }
            &:hover, &:focus {
                background: #000;
                color: #FFF;
            }
            color:#CCC;
            background: #444;
            display: table-cell;
            font: 110%/40px 'Source Sans Pro Bold';
            text-align:center;
            text-decoration:none;
        }
    }
    pre {
        margin-bottom:1em;
        overflow:hidden;
        border:1px solid #CCC;
        background:#EEE;
        .space;
    }
    > table {
	th {
	    font-weight:bold;
	}
	td, th {
	    border: 1px solid #CCC;
	    padding: 2px;
	}
	.space
    }
}
#connectform {
    text-align:center;
    input[type='text'] {
        padding: 2px;
        width:30em;
    }
    input[type='submit'] {
        margin-top:10px;
        width:15em;
    }
}

#noteform {
    display:block;
    margin:0;
    height:100%;
    margin-top:-9px;
    > textarea {
        &:focus {
            background:#DDD;
        }
        width:100%;
        margin:0;
        padding:20px;
        overflow-y:scroll;
        overflow-x: hidden;
        height:40em + 4px;
        border: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
}
