{%extends "page.html" %}
{% block page_begin %}
<div class="page sync">
{% endblock page_begin %}
{%block page%}
    <h1>Administration</h1>

    <h3>Connect to peer</h3>
    <p>Connect to another computer.</p>
    <p>You will automatically start sharing notes with that computer and the peers of that computer.</p>
    <form method="POST" action="{{url_for('connect')}}" id="connectform">
    <p>
        <label for="url">Peer: </label>
        <input placeholder="http://example.org/" type="text" id="host" name="host" /></span>
    </p>
    <p>
        <input type="submit" value="Connect">
    </p>
    </form>
{%endblock page%}
