{%- extends "page.html" %}
{% block page -%}
<form id="noteform" action="{{
    url_for('edit_do', noteid=id) if id is defined else url_for('create_do') 
}}" method="POST">
    <textarea tabindex="1" name="content" placeholder="Empty note...">{{content|default}}</textarea>
    <input tabindex="2" type="submit" value="Save">
</form>
{%- endblock page %}
