{% extends "page.html" %}
{% block page %}
<h1>Latest notes</h1><table>
    <thead>
        <th>content</th>
        <th>deleted</th>
        <th>id</th>
        <th>mtime</th>
        <th>node_id</th>
        <th>seq_id</th>
        <th>[edit]</th>
        <th>[x]</th>
    </thead>
    <tbody>
{% for note in notes %}
    <tr>
        <td>{{note.content | pprint | truncate(20, True)}}</td>
        <td>{{note.deleted | string | truncate(20, True)}}</td>
        <td>{{note.id | string | truncate(20, True)}}</td>
        <td>{{note.mtime | truncate(20, True)}}</td>
        <td>{{note.node_id | truncate(20, True)}}</td>
        <td>{{note.seq_id | string | truncate(20, True)}}</td>
        <td><a href="{{url_for("edit", noteid=note.id)}}">[edit]</a>
        <td><a href="{{url_for("delete", noteid=note.id)}}">[x]</a>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock page %}
