{%-
    set menu = [
        ('latest', 'Latest'),
        ('create', 'Create'),
        ('admin', 'Admin'),
        ('status', 'Status'),
    ]
-%}
<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="utf-8">
    <title>distnote</title>
    <link rel="stylesheet" type="text/css" href="/style">
</head>
<body>
    <nav>
{%- for endpoint, text in menu %}
    {%- if request.endpoint == endpoint %}
        <a class="active" href="{{url_for(endpoint)}}">{{text}}</a>
    {%- else %}
        <a href="{{url_for(endpoint)}}">{{text}}</a>
    {%- endif %}
{%- endfor %}
    </nav>
{%- block page_begin %}
    <div class="page">
{%- endblock page_begin %}
    {%- block page %}
    {%- endblock page %}
    </div>
    <script type="text/javascript" charset="utf-8" src="/static/js/jquery-1.8.2.min.js"></script>
</body>
</html>
