{% extends "page.html" %}
{% import "widgets.html" as widgets %}
{% block page %}

<h1>Status</h1>
{%- if vars %}
    <h3>var</h3>
    {{widgets.dumpresult(vars)}}
{%- endif %}

{%- if sync_log %}
    <h3>sync_log</h3>
    {{widgets.dumpresult(sync_log)}}
{%- endif %}

{%- if documents %}
    <h3>documents</h3>
    {{widgets.dumpresult(documents)}}
{%- endif %}

{%- endblock page %}
