{%- macro dumpresult(result) %}
{%- if result -%}
    <table>
    {%- for row in result %}
        {%- if loop.first %}
            <thead>
            <tr>
            {%- for key in row.keys() | sort  %}
                <th>{{key | e}}</th>
            {%- endfor %}
            </tr>
            </thead>
            <tbody>
        {%- endif %}
            <tr>
        {%- for _, value in row | dictsort %}
                <td>{{value | string | truncate(36, true) | e}}</td>
        {%- endfor %}
            </tr>
        {%- endfor %}
        </tbody>
    </table>
{%- endif %}
{%- endmacro %}
